body{
    height: 100vh;
    display: flex;  
    font-family: 'Roboto'; 
    flex-direction: column;
    background-color: #1F2937;
    gap: 20px;
}

li{
    list-style: none;
    text-decoration: none;
}

.nav{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.left-nav, .right-nav{
    display: flex;
    padding: 10px;
    gap: 20px;
    flex: 1;
}
.right-nav{
    justify-content: flex-end;
}
.left-nav{
    justify-content: center;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.nav-links{
    color: #E5E7EB;
    font-size: 18px;
}

/* Hero style */
.main-hero{
    display: flex;
    background-color: #1F2937;
    align-content: center;
    padding: 0 20px;
    gap: 20px;
    width: 700px;
    justify-content: space-between;
}
.hero-text, .hero-img{
    border: 2px solid;
    padding: 10px;
}

img{
    width: 300px;
    height: 300px;
}

.hero-text > h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.CTA{
    background-color: #3882F6;
    padding: 5px;
    border-radius: 3px;
    border: none;
    width: 150px;
}
.CTA, .hero-text > p{
    font-size: 18px;
    color: #E5E7EB;
}

/* information */
.info{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.info-head > h1{
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}
.info-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
}
.info-list > div{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 2px solid  #3882F6;
}


