body{
    height: 100vh;
    display: flex;  
    font-family: 'Roboto'; 
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

li{
    list-style: none;
    text-decoration: none;
}

.nav, .footer, .hero-section, .info{
    display: flex;
    background-color: #1F2937;
    gap: 20px;
    justify-content: center;
}

.nav-main, .hero-container, .CTA-container, .info{
    display: flex;
    width: 70%;
    margin: 0;
    justify-content: space-between;
}

#hero{
    padding: 30px 0px;
}

.left-nav, .right-nav{
    display: flex;
    padding: 0;
    gap: 20px;
}

.logo, .left-text, .Call, .author{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.nav-links, .footer, .secondary-text, .CTA, #CTA-subtext{
    color: #E5E7EB;
    font-size: 18px;
}

/* Hero style */
.hero-text{
    align-content: center;
    flex: 1;
}

.hero-img{
    display: flex;
    flex: 1;
}

img{
    margin-left: auto;
}

.left-text{
    margin: 0;
    padding: 10px 0;
}

#hero-main-text{
    font-size: 48px;
    font-weight: 900;
}

.CTA, .CTA-container{
    background-color: #3882F6;
    padding: 5px;
    border-radius: 3px;
    border: none;
    width: 150px;
}

/* information */
#info{
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 50px 0px;
}

.info-head, #quote{
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 20px;
}
.info-list{
    display: flex;
    gap: 5px;
}
.info-item{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 150px;
    height: 300px;
    padding: 10px;
    color: #1F2937;
    text-align: center;
}

#item-1, #item-2, #item-3, #item-4{
    height: 50%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid  #3882F6;
    text-align: center;
    flex: 0 0 auto;
}

/* Quotes */

.quote-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    padding: 20px;
}

#quote{
    font-weight: 300;
    width: 50%;
    text-align: start;
    margin: auto;
    padding: 100px;
}

#author{
    margin: 0 20px;
    text-align: end;
    color: #1F2937;
}

/* Call to Action */
.CTA-section{
    padding: 100px;
}
#CTA-Main{
    border-radius: 10px;
    margin: auto;
    width: 70%;
    padding: 50px;
}

.CTA-text{
    display: flex;
    flex-direction: column;
    flex: 2 1 400px;
    justify-content: center;
    margin: 0px 0px 0px 50px;
}

.CTA-text > *{
    margin: 0;
}

.CTA-button{
    align-self: center;
    flex: 1 200px;
    height: 20px;
    text-align: center;
}

.CTA{
    border: 2px solid;
}

/* Footer */
.footer{
    justify-content: center;
}


