body{
    height: 100vh;
    display: flex;  
    font-family: 'Roboto'; 
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

li{
    list-style: none;
    text-decoration: none;
}

.nav, .footer{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    gap: 20px;
}

.left-nav, .right-nav{
    display: flex;
    padding: 10px;
    margin: 10px 20px;
    gap: 20px;
    flex: 1 50%;
    justify-content: center;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.nav-links, .footer{
    color: #E5E7EB;
    font-size: 18px;
}

/* Hero style */
.main-hero{
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    padding: 20px 20px;
    gap: 20px;
}
.hero-text, .hero-img{
    justify-content: center;
    padding: 20px;
}

.hero-text{
    width: 25%;
}

img{
    width: 300px;
    height: 300px;
}

.hero-text > h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.CTA{
    background-color: #3882F6;
    padding: 5px;
    border-radius: 3px;
    border: none;
    width: 150px;
}
.CTA, .hero-text > p{
    font-size: 18px;
    color: #E5E7EB;
}

/* information */
.info{
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
}

.info-head{
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    flex:2;
    padding: 20px;
}
.info-list{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.info-item{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 150px;
    height: 300px;
    padding: 10px;
}

#item-1, #item-2, #item-3, #item-4{
    height: 50%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid  #3882F6;
    text-align: center;
    flex: 0 0 auto;
}

.info-item > p{
    text-align: center;
}

/* Quotes */

.quote-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    padding: 20px;
    justify-content: center;
}

.quote{
    width: 50%;
    text-align: end;
}

.author{
    margin: 0 20px;
}

/* Footer */
.footer{
    justify-content: center;
}


